{% extends 'base.html' %}

{% block title%}
장바구니
{% endblock %}

{% block page_content %}
<div class="container mt-5" style="min-height: 400px">
    <h1 class="mt-3">장바구니</h1>
    <div class="card mb-3">
        <div class="card-body">
            <ul>
                {% for cart in data['cart_list'] %}
                    <h2 class="stats-item">{{ cart.store_name }}</h2>
                    <ul class="list-group">
                        
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-md-3">
                                        <!-- 이미지를 추가하려면 여기에 이미지 태그를 추가하세요 -->
                                        <img src="{{ cart.food_image }}" width="280px" height="130px" style="vertical-align: middle;">
                                    </div>
                                    <div class="col-md-9">
                                        <div class="row">
                                            <div class="col-md-2">
                                                <div class="float-right mb-2">음식</div>
                                                <div class="float-right mb-2">음식이름</div>
                                                <div class="float-right mb-2">음식가격</div>
                                                <div class="float-right mb-2">음식수량</div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="mb-2">{{ cart.food_id }}</div>
                                                <div class="mb-2">{{ cart.food_name }}</div>
                                                <div class="mb-2">{{ cart.food_price }}</div>
                                                <div class="mb-2">{{ cart.food_count }}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                    </ul>
                {% endfor %}
                </div>
            </div>
            <button type="button" class="btn btn-danger mb-3" id="orderButton">주문하기</button>
        </div>

        <script>
            document.addEventListener("DOMContentLoaded", function () {
                const orderButton = document.getElementById("orderButton");
                
                orderButton.addEventListener("click", function () {
                    window.location.href = "/order"; // 리다이렉션할 페이지의 경로를 설정합니다.
                });
            });
        </script>
{% endblock %}