{% extends 'base.html' %} {% block head %}
<link href="../static/assets/css/login.css" rel="stylesheet" />
{% endblock %} {% block title%} 로그인 {% endblock %} {% block page_content %}

<section class="login">
  <div class="login_box">
    <div class="left">
      <div class="top_link"></div>
      <div class="contact">
        <form id="login-form" method="POST">
          <h3>SIGN IN</h3>
          <input
            type="email"
            id="email"
            name="email"
            placeholder="이메일"
            required
          />
          <input
            type="password"
            id="password"
            name="password"
            placeholder="비밀번호"
            required
          />
          <p id="error-msg" style="color: red"></p>
          <button class="submit" type="submit">로그인</button>
          <button class="submit" id="signup">회원가입</button>
        </form>
      </div>
    </div>
    <div class="right">
      <img
        src="../static/assets/img/loginimage.png"
        style="object-fit: fill; height: 600px"
        alt=""
      />
    </div>
  </div>
</section>
<script src="{{ url_for ('static', filename='assets/js/login.js') }}"></script>
{% endblock %}
