{% extends 'base.html' %}

{% block title%}
    주문
{% endblock%}

{% block page_content %}
<div class="container mt-5">
    <h1 class="mt-3">주문 정보</h1>
    <div class="card mb-3">
        <div class="card-body">
            <ul>
                {% for cart in data['cart_list'] %}
                    <h2 class="stats-item">{{ cart.shop_name }}</h2>
                    <ul class="list-group">
                        {% for food in cart.food %}
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-md-3">
                                        <!-- 이미지를 추가하려면 여기에 이미지 태그를 추가하세요 -->
                                        <img src="{{ food.food_image }}" width="280px" height="130px" style="vertical-align: middle;">
                                    </div>
                                    <div class="col-md-9">
                                        <div class="row">
                                            <div class="col-md-2">
                                                <div class="float-right mb-2">음식</div>
                                                <div class="float-right mb-2">음식이름</div>
                                                <div class="float-right mb-2">음식가격</div>
                                                <div class="float-right mb-2">음식수량</div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="mb-2">{{ food.id }}</div>
                                                <div class="mb-2">{{ food.food_name }}</div>
                                                <div class="mb-2">{{ food.food_price }}</div>
                                                <div class="mb-2">{{ food.food_count }}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                {% endfor %}
                <h2 class="mt-3">주소지 입력</h2>
                <input type="text" class="form-control" id="addressInput" name="address" placeholder="주소지 입력">
                <h2 class="mt-3">총 가격</h2>
                <input type="text" class="form-control" value="{{ data['total_price'] }}" readonly>
            </ul>
            
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <button type="button" class="btn btn-danger mb-3" id="submitOrderButton">주문하기</button>
    </div>
</div>

    <script>
        document.getElementById("submitOrderButton").addEventListener("click", function() {

            const addressData = document.getElementById('addressInput')
            // 데이터를 서버에 POST
            var formData = {
                cart_list: {{ data['cart_list'] | tojson }},  // Python dict를 JSON 문자열로 변환
                address: addressData.value,
                total_price: {{ data['total_price'] }}
            };
            console.log('form_date : ', formData);
            fetch('/order', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(formData),  // JSON 데이터를 서버로 전송
            }).then(response => {
                return response.text();
            }).then(data => {
                console.log(data);  // 서버에서 받은 응답 메시지 표시
                window.location.href = '/order/list'; 
            });
        });
    </script>
{% endblock %}

