{% extends 'base.html' %}

{% block title%}
    주문
{% endblock%}

{% block page_content %}
<div class="container mt-5">
    <h1 class="mt-3">주문 정보</h1>
    <div class="card mb-3">
        <div class="card-body">
            <ul>
                {% for order in data["order"] %}
                    <div class="d-flex">
                        <h4 class="stats-item me-2">{{ order.order_id }}</h4>
                        <p>{{ order.order_date }}</p>
                    </div>
                    <ul class="list-group">
                        {% for food in order.food %}
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-md-3">
                                        <!-- 이미지를 추가하려면 여기에 이미지 태그를 추가하세요 -->
                                        <img src="#" width="280px" height="130px" style="vertical-align: middle;">
                                    </div>
                                    <div class="col-md-9">
                                        <div class="row">
                                            <div class="col-md-2">
                                                <div class="float-right mb-2">음식</div>
                                                <div class="float-right mb-2">음식이름</div>
                                                <div class="float-right mb-2">음식가격</div>
                                                <div class="float-right mb-2">음식수량</div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="mb-2">{{ food.id }}</div>
                                                <div class="mb-2">{{ food.food_name }}</div>
                                                <div class="mb-2">{{ food.food_price }}</div>
                                                <div class="mb-2">{{ food.food_price }}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                {% endfor %}
            </ul>
            
        </div>
    </div>
</div>

{% endblock %}

